div {
    text-align: center;
}

.total {
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#number {
    font-size: 250px;
    font-weight: 500;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 25px;
  }

#add {
    background-color: #4CAF50;
}

/* Controlled by Game.js instead
#upgrade {
    background-color: gray;
}*/